body{
    font-family: 'Inter';
    background-color: #333333;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #A4C681;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:inline;
    justify-content: center;
}

nav ul li {
    width: 200px;
    left: 26px;
    top: 46px;
    margin: 0 50px;
    display: inline;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover{
    color: aliceblue;
}


main {
    background-color: #333333;
    padding: 50px 0;
}

/*home*/
.perfil {
    display: inline-block;
    text-align: center;
    background-color: #A4C681;
    padding: 50px;
    border-radius: 10px;
    width: 30%;
}

.fotocv {
    border-radius: 50%;
    width: 40%;
    object-fit: cover;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.info h1 {
    font-size: 24px;
    color: #333333;
    margin: 0 0 10px;
}

.info p {
    font-size: 18px;
    color: #333333;
    margin: 5px 0;
}

footer {
    background-color: #333333;
    padding: 20px 0;
    display: inline-flex;

}
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #FFFFFF;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #CCCCCC;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centra el contenido horizontalmente */
    justify-content: center;
    text-align: center;   /* Centra el texto */
    padding: 20px;
}

.container h1{
    top: 80px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 77px;
    color:azure;
    text-decoration: underline;

}

/*sobre mi*/
.container p{
    text-align: justify;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 36px;
    color: #D9D9D9;
}

.fotocomputadora{
    max-width: 100%;  /* Ajusta la imagen para que no sea más ancha que su contenedor */
    height: auto;
    
    width: 35%;
    border-radius: 20px 0px 0px 20px;
}


/*curriculum*/
.formatocv{
    display: inline-block;
    text-align: center;
    background-color: #A4C681;
    padding: 70px;
    border-radius: 10px;
    width: 300px;
    font-size: 26px;
    text-decoration: none;
    list-style: none;
}

.listacv li {
    list-style: none;
    text-align: center;
    color: azure;
}

/*contacto*/
.contact-form {
    background-color: #FFFFFF;
    color:#333333;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.contact-form label {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    text-align: left;
}

.contact-form input, .contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
    color:#A4C681;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #CCCCCC;
}

.contact-form button {
    background-color:#A4C681;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color:#CCCCCC;
}

/*habilidades*/

.container ul li{
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 26px;
    line-height: 56px;
    color: #D9D9D9;

}
