/* Estilos generales */
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

/* Modo claro */
body.light-mode {
    background-color: #333333;
    color:#CCCCCC;
}

/* Modo oscuro */
body.dark-mode {
    background-color:#CCCCCC;
    color: #333333;
}

/* Estilos del header */
header {
    background-color: #A4C681;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul li a:hover{
    color:#CCCCCC
}

main {
    padding: 50px 0;
}

.perfil {
    display: inline-block;
    text-align: center;
    background-color: #A4C681;
    padding: 50px;
    border-radius: 10px;
    width: 30%;
}

.fotocv {
    border-radius: 50%;
    width: 40%;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

/* Información de perfil */
.info p {
    font-size: 18px;
    color: #333333;
}

/* Estilos del footer */
footer {
    padding: 20px 0;
}

.social-icons a {
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    color:#627e46;
}

.social-icons a:hover {
    color:#3c4b2d;
}


/* Botón de tema */
.theme-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

/* Icono de la luna */
.moon-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    background-color:#CCCCCC;
    transition: background-color 0.3s;
}

/* Icono de luna en modo oscuro */
body.dark-mode .moon-icon {
    background-color: #000000;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centra el contenido horizontalmente */
    justify-content: center;
    text-align: center;   /* Centra el texto */
    padding: 20px;
}

.container h1{
    top: 80px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 77px;
    text-decoration: underline;

}

/*sobre mi*/
.container p{
    text-align:center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 36px;
    margin: 30px;

}

.fotocomputadora{
    max-width: 100%;  /* Ajusta la imagen para que no sea más ancha que su contenedor */
    height: auto;
    
    width: 35%;
    border-radius: 20px 0px 0px 20px;
}

/*curriculum*/
.formatocv{
    display: inline-block;
    text-align: center;
    background-color:#A4C681;
    padding: 70px;
    border-radius: 10px;
    width: 300px;
    font-size: 26px;
    text-decoration: none;
    list-style: none;
}

.formatocv p{
    color: #333333;
    font-size: 24px;
}

.listacv li {
    list-style: none;
    text-align: center;
    color: azure;
}

.listacv li a{
    color: #333333;
}

.listacv li a:hover{
    color:#CCCCCC;
}


.divh1{
    display: block;
    text-align: center;
}


/*contacto*/
.contact-form {
    background-color: #FFFFFF;
    color:#A4C681;
    border-radius: 15px;
    padding: 60px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.contact-form label {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    text-align: left;
}

.contact-form input, .contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
    color: #0C0225;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #CCCCCC;
}

.contact-form button {
    background-color:#A4C681;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #2b2b2b;
}

/*habilidades*/
.container ul li{
    text-align:left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 26px;
    line-height: 56px;
}
